global:
  # Relevant dataset paths, please use the ZFS dataset syntax such as: tank/apps
  dataset:
   # dataset for internal jail config files
   config: tank/apps
   # Iocage root dataset
   iocage: tank/iocage
   # Media library dataset
   media: tank/media
   # Parent downloads dataset 
   # (is going to contain: Complete and Incomplete datasets for downloads)
   downloads: tank/downloads
  jails:
   # jail version to install
   version: 11.3-RELEASE
   # Global pkgs to install in all jails.
   # Please use standard space delimited pkg install syntax.
   pkgs: curl ca_root_nss bash


# Example configuration, showing how to customise network config. 
# Use the same jailname on both sides of this variable example: example
example: example
  #interfaces is optional and will be autmatically replace with vnet0:bridge0 if not present
  interfaces: vnet0:bridge0
  ip4_addr: 192.168.1.99/24
  gateway: 192.168.1.1
  # Jail specific pkgs. 
  # Please use standard space delimited pkg install syntax.
  pkgs: mono
  
plex: plex
  beta: false

nextcloud: nextcloud
  ip4_addr: 192.168.1.99/24
  gateway: 192.168.1.1
  time_zone: Europe/Amsterdam
  host_name: cloud.example.com
  database: mariadb
  standalone_cert: 0
  selfsigned_cert: 0
  dns_cert: 0
  no_cert: 1
  dl_flags: ""
  dns_settings: ""
  cert_email: "placeholder@holdplace.org"
  database: mariadb
#  db_database:
#  db_user:
#  db_password
#  db_host
  
mariadb: mariadb
  ip4_addr: 192.168.1.98/24
  gateway: 192.168.1.1
  db_root_password: ReplaceThisWithYourOwnRootPAssword
  host_name: mariadb.local.example

bitwarden: bitwarden
  ip4_addr: 192.168.1.97/24
  gateway: 192.168.1.1
  db_password: "YourDBPasswordHerePLEASE"
  type: mariadb
  admin_token: "PUTYOURADMINTOKENHEREANDREMOVETHIS"

influxdb: influxdb
  ip4_addr: 192.168.1.250/24
  gateway: 192.168.1.1
  database: influxdb
